@function weighted-per($total-percent, $weighted-percent, $total-items-amount, $weighted-items-amount: 1){
    $normal-items-amount: $total-items-amount - $weighted-items-amount;
    $total-weighted-percent: $weighted-percent * $weighted-items-amount;
    $remaining-percent: $total-percent - $total-weighted-percent;
    @return ($remaining-percent / $normal-items-amount);
}

@function opposite-lightness($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}
